
{% extends "base.html" %}

{% block title %} <h1> LineItem </h1><h2> List </h2> {% endblock %}

{% block heading %} 
<h1> LineItem</h1>
<h2> List Records</h2>
{% endblock %}
{% block content %} 

<table>
<thead>
<tr><th>Record</th><th colspan="3">Actions</th></tr>
{% for item in list_items.object_list %}
  <tr><td>  {{item}}</td> <td><a href="{% url depotapp.views.view_lineitem item.id %}">Show</a> </td> <td><a href="{% url depotapp.views.edit_lineitem item.id %}">Edit</a></tr>
{% endfor %}
<tr><td colspan="3"> <a href="{% url depotapp.views.create_lineitem %}">Add New</a></td></tr>
</table>

<div align="center">
{% if list_items.has_previous %}
    <a href="?page={{ list_items.previous_page_number }}">Previous</a>
{% endif %}

<span class="current">
    Page {{ list_items.number }} of {{ list_items.paginator.num_pages }}.
</span>

{% if list_items.has_next %}
        <a href="?page={{ list_items.next_page_number }}">Next</a>
{% endif %}

</div>
{% endblock %}
